.box1 {
    background-color: rgb(119, 194, 238);
    border: 2px solid #000;
    margin: 10px;
    padding: 20px;
    width: 200px;
    height: 150px;
  }
  
  .box2 {
    background-color: rgb(202, 132, 230);
    border: 5px solid #000;
    margin: 10px;
    padding: 30px;
    width: 200px;
    height: 150px;
  }
  
  .box3 {
    background-color: rgba(153, 223, 146, 0.801);
    border: 10px solid #000;
    margin: 10px;
    padding: 40px;
    width: 200px;
    height: 150px;
  }
  